# General
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
.python-version
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Other languages
*.js
*.php
*.cpp
*.cs
*.java
*.rb

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific
*.txt
!requirements.txt
*.ics

# IDE
.idea/
.agent/
.vscode/
*.swp
*.swo
